includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 5
    paths:
        - %rootDir%/../../../src/
    ignoreErrors:
        -
            message: '#.*NodeDefinition::children.*#'
            path: ./src/DependencyInjection
